.hidden{
    display: none;
}

.rightGuess {
    background-color: #4CAF50;
}

.wrongGuess {
    background-color: #f44336;
}

#canvas {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#word{
    letter-spacing: 0.5em;
}

/* Use CSS vh and vw to scale for mobile users + use css to move radio buttons */
